/* Side Navbar styling */
/* 
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
} */

.wrapper {
    margin-top: 25px;
    width:100%;
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

/* #sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
} */

/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */

li a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar-header a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    transition: all 0.3s;
    padding: 10px;
    margin-left: 20px;
}

#sidebar ul li a {
    color: black;
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
}

#sidebar ul li a.active-link {
    color: #22A8A8;
}

#sidebar ul li a:hover {
    color: #22A8A8;;
    background: #fff;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 5px auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

.navbar-btn {
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin: 10px
}

p#name {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    color: black;
    text-decoration: underline;
    padding-left: 10px;
}

.navbar-heading {
    font-size: 20px;
    text-decoration: underline;
    color: #22A8A8;
    font-weight: bold;
    padding-left: 10px;
}


/* Body styling */

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 48px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

a:link, a:visited {
    color: cornflowerblue;
    text-decoration: underline;
}

.content-container {
    width: 100%;
    margin-bottom: 40px;
}

.content{
    width: 80%;
    margin: auto;
}

.section-header {
    color: #22A8A8
}

.page-title {
    text-align: center;
    margin-bottom: 60px;
}

.divider {
    border: none;
    border-bottom: 1px solid #447187;
}

/* Hero Banner */

.hero-banner{
    background-image: url(./images/heroGradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    width: 100%;
    height: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-banner div {
    width: 80%;
    margin: auto;
}

.hero-banner div h2 {
    text-align: left;
    color: white;
    margin-bottom: 40px;
}

.hero-banner div p {
    color: white
}


/* Homepage tiles */

.tiles-container {
    width: 90%;
    padding: 10px;
    margin: 0px 5%;
}

.tile-item {
    padding: 0px;
    margin: 5px;
    border-bottom: 1px solid #22A8A8;
}

.tile-item img {
    width: 100%;
    border: 1px solid #22A8A8; 
    margin: 10px 0px
}

.tile-item a {
    color: black;
    text-decoration: none;
}

/* .tile-item img:hover {
    transform: translateY(-2px);
    box-shadow: 0px 0px 10px 0px #888888;
} */

.tile-item a:hover {
    opacity: 0.7;
    color: grey;
}

/* About page */

#profile-picture {
    display: block;
    width: 50%;
    margin: 40px auto;
    border-radius: 5px;
}

/* Yield page */

.persona-map-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.persona-map-container a {
    width: 60%;
}

.persona-map-container a img{
    width: 100%;
}

.persona-map-container p {
    width: 35%;
}

.before-after-creative {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Donut page */

.donut-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.donut-image-container div {
    width: 50%;
}

.donut-image-container img {
    width: 100%;
}

/* Bullet Journal page */

.bullet-journal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bullet-journal-container div {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bullet-journal-container div a{
    width: 45%;
    margin: 5px 10px;
}

.bullet-journal-container div a img{
    width: 100%;
    border: 1px solid #22A8A8;
}


/* Coloring Book page */

.art-to-greyscale {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.greyscale-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.greyscale-container .greyscale-image {
    width: 20%;
}

.greyscale-container .greyscale-image img{
    width: 100%;
}

.greyscale-container .greyscale-text {
    width: 75%;
}

.other-figma-images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-figma-images-container div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
}

.other-figma-images-container div a{
    width: 45%;
}

.other-figma-images-container div a img{
    width: 100%;
}


/* Video Editing page */

.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.video-content p {
    margin: 10px 0px;
}

/* Contact page */
.contact-form {
    width: 80%;
    margin: auto;
}
.contact-form form{
    width: 100%;
}

.contact-form p{
    margin-top: 20px;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-media-icons a {
    margin: 0px 5px;
    color: #22A8A8;
}